* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Signika", sans-serif;
  font-size: 62.5%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__logo {
  width: 25%;
  text-align: center;
}
.header__logo img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav ul li {
  list-style: none;
  margin: 10px;
}
.header__nav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
}