$Fuente-principal: 'Signika', sans-serif;

$color-primario: #1C1464;
$color-secundario:#64145C;
$color-terciario: #F1C424;
$color-fondoSuave: #B4B2D6;
$color-iluminacion: #83FFE7;
$color-variacion1: #8C84D4;
$color-variacion2: #11FAD4;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $Fuente-principal;
    font-size: 62.5%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;

    &__logo {
        width: 25%;
        text-align: center;

        img {
            width: 200px;
            object-fit: cover;
        }
    }

    &__nav{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        ul {
            display: flex;

            li {
                list-style: none;
                margin: 10px;

                a {
                    font-size: 1.8rem;
                    text-decoration: none;
                }
            }
        }
    }
}