@media screen and (max-width:1024px) {
    .header {
        &__logo {
            width: 18%;
            
            img {
                width: 100%;
            }
        }

        &__nav{
            width: 82%;

            ul {

                margin-left: 20px;

                li {
                    margin: 5px;
                    
                    a {
                        padding: 5px;
                        font-size: 1.5rem;
                    }
                }
            }

            .header_search {

                input {
                    width: 190px;
                }
    
            }
        }
    }
    .socialMedia {
        
        right: 0px;
    
        &__chat{
            .WhatsApp {
                flex-direction: column;
                
                &:hover {
                    transform: translateX(0px);
                }
            }

        }

        section{
            
            width: 70px;
            margin: 20px auto;

            a{
                flex-direction: column;
                
                span {
                    margin-left: 0px;
                }
                
            }
            
            &:hover > a span {
                display: block;
            }
            &:hover {
                transform: translateX(0px);
                transform: translateY(-10px);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header {

        position: relative;

        &__nav {
            width: 100%;

            .header_search {

                margin: 0 auto;
                width: 80%;

                input {
                    width: 100%;
                }
    
            }
            
        }

        &__logo {
            display: none;
        }
        &__nav ul {
            position: absolute;
            flex-direction: column;
            background-color: aliceblue;
            width: 100vw;
            height: 100vh;
            align-items: center;
            margin: 0;
            top:55px;
            right: 768px;
            bottom: 0;
            z-index: 1;
            transition: all 0.5s;

            li {
                margin: 20px 0;
                a {

                    font-size: 1.8rem;
                }
            }
        }
        &__nav .visible {
            transform: translateX(768px);
        }
        &__nav button {
            display: block;
            margin: 10px;
        }
    }
    .socialMedia {

        
        width: 100%;
        position: absolute;
        right: 0px;
        left: 0px;
        top: auto;
        bottom: 0px;
        height: 105px;
        
        &__pages {
            display: flex;
            justify-content:space-around;
        }
        
        &__chat{

            position: fixed;
            right: 10px;
            bottom: 50px;
            z-index: 5;

            .WhatsApp {
                flex-direction: column;
                
                &:hover {
                    transform: translateX(0px);
                }
            }

        }

        section{
            
            width: 100px;
            margin: 5px;

            a{
                flex-direction: row;
                width: 35px;
                height: 35px;
                
                img, .WhatsApp__icon {
                    width: 35px;
                    height: 35px;        
                }

                span {
                    display: block;
                    margin-left: 5px;
                }
                
            }
            
            &:hover > a span {
                display: block;
            }
            &:hover {
                transform: translateX(0px);
                transform: translateY(-10px);
            }
        }
    }
}